@use "../abstract" as *;

.cards {
  @include d-flex($g: size(40));
  flex-wrap: wrap;
}

.card {
  text-align: center;
  border: 1px solid rgba(clr(primary, normal), 70%);
  border-radius: 10px;
  padding: 24px;
  flex: 1;
  flex-basis: 45%;
  &__icon {
    color: clr(primary, normal);
    font-size: 52px;
    background-color: #f2f2f2;
    width: 90px;
    height: 90px;
    @include d-flex($jc: center, $ai: center);
    border-radius: 100px;
    margin: 0 auto size(12);
  }
  &__title {
    font-size: fs(600);
    font-weight: $fw-600;
    margin-bottom: size(8);
  }
  &__text {
    width: 100%;
    font-size: 14px;
  }
}

.card-2 {

}