@use "../abstract" as *;

.form {
  &__row {
    @include d-flex($jc: space-between, $g: size(20));
  }
  &__input {
    padding: size(12) size(20);
    border: 2px solid clr(neutral, normal-2);
    border-radius: 10px;
    width: 100%;
    margin-bottom: size(20);
    transition: 300ms ease-in-out;
    outline: 2px solid transparent;
    &:hover,
    &:focus, {
      color: clr(neutral, dark);
      border: 2px solid clr(primary, normal);
      background-color: rgba(clr(primary, normal), 10%);
    }
    &--has-text {
      border: 2px solid clr(primary, normal);
      background-color: rgba(clr(primary, normal), 10%);
    }
  }
  @include mq(lg) {
    &__input {
      padding: size(8) size(16);
    }
  }
}

.message {
  text-align: center;
  font-size: fs(500);
  &--success {
    color: clr(primary, normal-2);
  }
  &--error {
    color: red;
  }
}