@use "../abstract" as *;

.header {
  @include d-flex($jc: space-between, $ai: center);
  padding-block: size(8);
  padding-inline: size(16);
  &--dark {
    background-color: clr(neutral, dark);
  }
}