@use "../abstract" as *;
@use "../utilities/button-transition" as u;

.hero {
  max-width: $hero-width;
  letter-spacing: 1.6px;
  position: absolute;
  top: 37%;
  left: 16%;
  text-shadow: 3px 5px 2px #474747;
  &__img {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -10;
  }
  &__title {
    width: 90%;
    font-size: fs(900);
    line-height: $lh-hero-title;
    text-transform: uppercase;
    margin-bottom: size(40);
  }
  &__description {
    margin-bottom: size(52);
    font-size: fs(500);
    line-height: $lh-hero-description;
  }
  &__link {
    display: inline-block;
    padding: size(20) size(48);
    font-size: fs(300);
    text-transform: uppercase;
    color: inherit;
    border: 4px solid clr(primary, normal);
    border-radius: 10px;
    transition: 300ms ease-in-out;
    &:hover {
      @extend %button-transition;
    }
  }
  @include mq(xxl) {
    left: 14%;
    padding-right: size(20);
    &__title {
      font-size: fs(850);
    }
    &__description {
      font-size: fs(400);
    }
  }
  @include mq(lg) {
    top: 25%;
    left: 8%;
    text-align: center;
    letter-spacing: 1.4px;
    &__title {
      font-size: fs(850);
      width: 100%;
      line-height: $lh-hero-title--small;
    }
    &__description {
      letter-spacing: unset;
      line-height: $lh-hero-description--small;
    }
    &__link {
      font-size: fs(300);
      padding: size(16) size(32);
    }
  }
  @include mq(md) {
    top: 37%;
    &__description {
      font-size: fs(300);
      line-height: normal;
      letter-spacing: normal;
    }
  }
}