@use "../abstract" as *;

.image-slider {
  height: 100%;
  display: grid;
  place-items: center;
  position: relative;
  margin-inline: 10rem;
  &__img {
    object-fit: contain;
    height: 100%;
    margin: 0 auto;
    flex-grow: 0;
    flex-shrink: 0;
    transition: translate 300ms ease-in-out;
  }
  &__btn {
    all: unset;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    padding-inline: size(32);
    font-size: fs(900);
    cursor: pointer;
    transition: background-color 200ms ease-in-out;
    color: white;
    text-shadow: 0px 0px 10px black;
    &--left {
      left: 0;
    }
    &--right {
      right: 0;
      color: white;
      transform: rotateY(180deg);
    }
    &:hover {
      background-color: rgb(0, 0, 0, 0.3);
    }
    @include mq(lg) {
      font-size: fs(800);
      padding-inline: size(20);
    }
  }
  @include mq(xl) {
    margin-inline: 0;
  }
}