@use "../abstract" as *;
@use "../utilities/button-transition" as u;

.menu {
  display: none;
  z-index: 20;
  @media screen and (max-width: mq(lg)) {
    display: block;
  }
}

.nav {
  @include d-flex($jc: flex-end);
  width: 100%;
  &__link {
    color: currentColor;
    padding: size(12) size(32);
    font-size: fs(400);
    text-transform: uppercase;
    border: 2px solid transparent;
    border-radius: 10px;
    white-space: nowrap;
    transition: 300ms ease-in-out;
    position: relative;
    &:hover {
      @extend %button-transition;
    }
    @include mq(xxl) {
      font-size: fs(300);
    }
  }
  &--dark {
    gap: size(12);
    color: clr(neutral, light);
  }
  @include mq(lg) {
    & {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      transition: right 500ms ease-in-out;
      position: absolute;
      width: 170px;
      top: 115px;
      right: -240px;
      background-color: rgb(126, 166, 0);
      z-index: 10;
      border-bottom-right-radius: 0;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      padding: size(16) 0 size(12) size(32);
      &.show {
        right: 0;
      }
    }
    &__link {
      border: unset;
      background-color: unset;
      transition: 300ms ease-in-out;
      width: 100%;
      border-radius: 0;
      padding-left: size(4);
      &:not(:last-child) {
        border-bottom: 2px solid rgba(255, 255, 255, 0.4);
      }
      &:hover {
        color: #283304;
      }
    }
  }
}

.menu-icon {
  cursor: pointer;
  width: fit-content;
  padding-right: size(4);
  z-index: 50;
  display: none;
  @include mq(lg) {
    display: block;
  }
}

.line {
  height: 4px;
  width: 30px;
  background-color: clr(neutral, light);
  margin: 6px 0;
  transition: all 0.3s ease;
}

/* Transformed state to X */
.menu-icon.transformed .line:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.menu-icon.transformed .line:nth-child(2) {
  opacity: 0;
}

.menu-icon.transformed .line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}
