@use "../abstract" as *;

.section-title {
  margin-bottom: size(80);
  &--normal,
  &--fancy {
    position: relative;

    &::after, &::before {
      content: "";
      position: absolute;
      height: 3px;
      background-color: clr(primary, normal);
      @include mq(md) {
        height: 2px;
      }
    }
  }

  @include mq(xl) {
    margin-bottom: size(40);
  }

  &--normal::after {
    left: 0;
    bottom: -6px;
    width: 600px;
    @include mq(md) {
      width: 250px;
    }
  }

  &__decoration {
    @include d-flex($ai: center, $g: size(32));
  }

  &__line {
    height: 2px;
    width: 100px;
    background-color: #7DA500;
  }
}

.section-fancy {
  margin-bottom: size(80);
  @include d-flex($d: column, $ai: center, $g: size(12));
  i {
    color: clr(primary, normal);
    font-size: fs(800);
  }
  @include mq(xxl) {
    margin-bottom: size(64);
  }
  @include mq(lg) {
    margin-bottom: size(40);
  }
}
