@use "../abstract" as *;

.step {
  @include d-flex($ai: center, $g: size(32));
  &__number {
    font-family: "AvenirLTStd-Black", serif;
    font-size: fs(1000);
    font-weight: $fw-900;
    line-height: 0;
    color: transparent;
    -webkit-text-stroke: 3px clr(primary, normal);
    paint-order: stroke fill;
  }
  &__content {
    max-width: 500px;
  }
  &__title {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: size(8);
  }
  &__desc {
    font-size: fs(300);
    font-weight: 400;
    line-height: 1.25;
  }
  i {
    font-size: 100px;
  }
  &:not(:last-child) {
    margin-bottom: size(64);
  }
  @include mq(xl) {
    &__number {
      font-size: fs(1000) - 2rem;
    }
    &__title {
      font-size: fs(600);
      margin-bottom: size(6);
    }
    &__desc {
      font-size: fs(200);
    }
    i {
      font-size: 70px;
    }
  }
  @include mq(lg) {
    i {
      display: none;
    }
  }
  @include mq(md) {
    gap: 1rem;
    &__number {
      font-size: fs(1000) - 3rem;
      -webkit-text-stroke: 2px clr(primary, normal);
    }
    &__title {
      font-size: fs(500);
    }
    &__desc {
      font-size: fs(100);
      line-height: 1;
    }
  }
  @include mq(sm) {
    gap: 1rem;
    &__number {
      font-size: fs(1000) - 4rem;
    }
    &__title {
      font-size: fs(300);
    }
    &__desc {
      font-size: fs(100);
    }
  }
}

@for $i from 2 through 4 {
  .steps > div:nth-child(#{$i}) {
    margin-left: calc($steps-margin-left * (#{$i} - 1));
  }
}

@include mq(xxl) {
  @for $i from 2 through 4 {
    .steps > div:nth-child(#{$i}) {
      margin-left: calc((#{$steps-margin-left} - 2rem) * (#{$i} - 1));
    }
  }
}

@include mq(xl) {
  @for $i from 2 through 4 {
    .steps > div:nth-child(#{$i}) {
      margin-left: 0;
    }
  }
}