@use "../abstract" as *;

@for $i from 2 through 4 {
  .steps > div:nth-child(#{$i}) {
    margin-left: calc($steps-margin-left * (#{$i} - 1));
  }
}

.step {
  @include d-flex($ai: center, $g: size(32));
  &__number {
    font-family: "AvenirLTStd-Black", serif;
    font-size: fs(1000);
    font-weight: $fw-900;
    line-height: 0;
    color: transparent;
    -webkit-text-stroke: 3px clr(primary, normal);
    paint-order: stroke fill;
  }
  &__content {
    max-width: 500px;
  }
  &__title {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: size(8);
  }
  &__desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
  }
  i {
    font-size: 100px;
  }
  &:not(:last-child) {
    margin-bottom: 64px;
  }
}