$colors: (
  neutral: (
    light: #fff,
    light-2: #BBBBBB,
    normal: #232323,
    normal-2: #313131,
    dark: #111212,
  ),
  primary: (
    light: #A3D700,
    light-2: #C2FFE3,
    normal: #7DA500,
    normal-2: #006838,
    dark: #516B00,
    dark-2: #103A0C,
  ),
);

// ili 100-900 naming

$primary-normal: #7DA500;
$primary-dark: #516B00;
$gray: #232323;