$colors: (
  neutral: (
    light: #fff,
    normal: #232323,
    dark: #111212,
  ),
  primary: (
    light: #A3D700,
    normal: #7DA500,
    dark: #516B00,
  ),
);

// ili 100-900 naming

$primary-normal: #7DA500;
$primary-dark: #516B00;
$gray: #232323;