$sizes: (
  4: 0.25rem,
  6: 0.375rem,
  8: 0.5rem,
  10: 0.6125rem,
  12: 0.75rem,
  16: 1rem,
  18: 1.125rem,
  20: 1.25rem,
  24: 1.5rem,
  28: 1.75rem,
  32: 2rem,
  36: 2.25rem,
  40: 2.5rem,
  48: 3rem,
  52: 3.25rem,
  64: 4rem,
  80: 5rem
);

$hero-width: 50rem;               // 800px
$content-padding-left: 7.6875rem; // 123px
$section-title: 7.5rem;           // 120px
$steps-margin-left: 9.375rem;     // 150px

// Inline page padding
$px-xs: 20px;
$px-sm: 40px;
$px-md: 60px;
$px-lg: 100px;
$px-xl: 140px;
$px-xxl: 160px;