@use "../abstract" as *;

.image-container {
  position: relative;
  &--corner-cut {
    &::before {
      content: '';
      z-index: 2;
      @include triangle(125px, white, "left", "top");
    }
  }

  img {
    border-radius: size(32);
  }
}