@use "../abstract" as *;

.flex-basis-50 {
  flex-basis: 50%;
}

.color-white {
  * {
    color: white !important
  };
  h2 {
    &::before,
    &::after {
      color: inherit !important;
      background-color: white;
    }
  }
}

.mt-80 {
  margin-top: size(80);
}

.flex-column {
  flex-direction: column;
}

.text-bold {
  font-weight: $fw-700;
}

.flip-x {
  transform: rotateY(180deg);
}