@use "../abstract" as *;

#cijena {
  padding-block: 5rem;
}

.cijena {
  @include d-flex($jc: space-around, $g: size(64));
  @include mq(xl) {
    flex-direction: column;
  }
}

.stari_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gdje-radimo {
  margin-left: size(32);
  li {
    font-size: fs(500);
    font-weight: $fw-600;
    list-style-type: square;
  }
  @include mq(lg) {
    li {
      font-size: fs(300);
      font-weight: $fw-500;
    }
  }
}

