@use "../abstract" as *;

#kako-radimo {
  @include d-flex($jc: center, $ai: center);
  min-height: 100vh;
  position: relative;
  padding: $px-md $px-sm;
  @include mq(md) {
    padding-inline: $px-xs;
  }
}



.bg-image {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.triangle-top-right {
  @include triangle(400px, clr(primary, normal), "right", "top");
}

.triangle-bottom-left {
  @include triangle(400px, clr(primary, normal), "left", "bottom")
}
