@use "../abstract" as *;

.bg-leaves {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.triangle-top-right {
  @include triangle(600px, clr(primary, normal), "right", "top")
}

.triangle-bottom-left {
  @include triangle(410px, clr(primary, normal), "left", "bottom")
}
