@use "../abstract" as *;

.triangle-bottom-left-flipped-x {
  @include triangle(400px, clr(primary, dark), "left", "top");
}

#o-nama {
  @include d-flex($jc: center, $ai: flex-end, $g: size(80));
  padding-block: 10rem;

  img {
    max-height: 736px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      @include triangle(400xp, white, top, left);
    }
  }
}

#o-nama >  {
  flex-basis: 50%;
}