*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
}

@font-face {
  font-family: "icomoon";
  src: url("/fonts/icomoon.ttf?sex7ow") format("truetype"), url("/fonts/icomoon.woff?sex7ow") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/* purgecss start ignore */
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* purgecss end ignore */
.icon-axe:before {
  content: "\e90c";
}

.icon-paintbrush:before {
  content: "\e90d";
}

.icon-phone:before {
  content: "\e900";
}

.icon-medal:before {
  content: "\e901";
}

.icon-grass:before {
  content: "\e902";
}

.icon-handshake-outline:before {
  content: "\e903";
}

.icon-email:before {
  content: "\e904";
}

.icon-leaf:before {
  content: "\e905";
}

.icon-euro-coin:before {
  content: "\e906";
}

.icon-hedge-trimmer:before {
  content: "\e907";
}

.icon-people-talking:before {
  content: "\e908";
}

.icon-gear:before {
  content: "\e909";
}

.icon-map-pin:before {
  content: "\e90a";
}

.icon-tree-thin:before {
  content: "\e90b";
}

.icon-calendar:before {
  content: "\e90e";
}

.icon-workspace-trusted:before {
  content: "\e90f";
}

.icon-arrow_left:before {
  content: "\e910";
}

.icon-arrow_right:before {
  content: "\e911";
}

.icon-lawn-mower:before {
  content: "\e912";
}

.icon-gardening-shears:before {
  content: "\e913";
}

.icon-leaf-2:before {
  content: "\e914";
}

.icon-save-planet:before {
  content: "\e915";
}

.icon-energy:before {
  content: "\e916";
}

.icon-ear-sound:before {
  content: "\e917";
}

@font-face {
  font-family: "AvenirLTStd-Black";
  src: url("/fonts/AvenirLTStd-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body, html {
  overflow-x: hidden;
}

body {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-size: 1rem;
  color: #232323;
  line-height: 1.5;
}

h2 {
  font-size: 2.25rem;
  font-weight: 600;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #fff;
}

#pocetna,
#galerija,
#cijena {
  position: relative;
  padding-inline: 160px;
}
@media screen and (max-width: 87.5em) {
  #pocetna,
  #galerija,
  #cijena {
    padding-inline: 140px;
  }
}
@media screen and (max-width: 75em) {
  #pocetna,
  #galerija,
  #cijena {
    padding-inline: 100px;
  }
}
@media screen and (max-width: 57.5em) {
  #pocetna,
  #galerija,
  #cijena {
    padding-inline: 60px;
  }
}
@media screen and (max-width: 48em) {
  #pocetna,
  #galerija,
  #cijena {
    padding-inline: 40px;
  }
}
@media screen and (max-width: 36em) {
  #pocetna,
  #galerija,
  #cijena {
    padding-inline: 20px;
  }
}

@media screen and (max-width: 57.5em) {
  h2 {
    font-size: 2rem;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.logo {
  width: 100%;
  max-width: 420px;
  min-width: 300px;
}
@media screen and (max-width: 87.5em) {
  .logo {
    max-width: 380px;
  }
}

.hero__link:hover, .nav__link:hover {
  cursor: pointer;
  border-color: #A3D700;
  background-color: rgba(125, 165, 0, 0.4);
}

.menu {
  display: none;
  z-index: 20;
}
@media screen and (max-width: 57.5em) {
  .menu {
    display: block;
  }
}

.nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.nav__link {
  color: currentColor;
  padding: 0.75rem 2rem;
  font-size: 1.125rem;
  text-transform: uppercase;
  border: 2px solid transparent;
  border-radius: 10px;
  white-space: nowrap;
  transition: 300ms ease-in-out;
  position: relative;
}
@media screen and (max-width: 87.5em) {
  .nav__link {
    font-size: 1rem;
  }
}
@media screen and (max-width: 57.5em) {
  .nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: right 500ms ease-in-out;
    position: absolute;
    width: 170px;
    top: 115px;
    right: -240px;
    background-color: rgb(126, 166, 0);
    z-index: 10;
    border-bottom-right-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 1rem 0 0.75rem 2rem;
  }
  .nav.show {
    right: 0;
  }
  .nav__link {
    border: unset;
    background-color: unset;
    transition: 300ms ease-in-out;
    width: 100%;
    border-radius: 0;
    padding-left: 0.25rem;
  }
  .nav__link:not(:last-child) {
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  }
  .nav__link:hover {
    color: #283304;
  }
}

.menu-icon {
  cursor: pointer;
  width: fit-content;
  padding-right: 0.25rem;
  z-index: 50;
}

.line {
  height: 4px;
  width: 30px;
  background-color: #fff;
  margin: 6px 0;
  transition: all 0.3s ease;
}

/* Transformed state to X */
.menu-icon.transformed .line:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.menu-icon.transformed .line:nth-child(2) {
  opacity: 0;
}

.menu-icon.transformed .line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.hero {
  max-width: 50rem;
  letter-spacing: 1.6px;
  position: absolute;
  top: 37%;
  left: 16%;
  text-shadow: 3px 5px 2px #474747;
}
.hero__img {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -10;
}
.hero__title {
  width: 90%;
  font-size: 3.375rem;
  line-height: 55px;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}
.hero__description {
  margin-bottom: 3.25rem;
  font-size: 1.25rem;
  line-height: 24px;
}
.hero__link {
  display: inline-block;
  padding: 1.25rem 3rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: inherit;
  border: 4px solid #7DA500;
  border-radius: 10px;
  transition: 300ms ease-in-out;
}
@media screen and (max-width: 87.5em) {
  .hero {
    left: 14%;
    padding-right: 1.25rem;
  }
  .hero__title {
    font-size: 2.75rem;
  }
  .hero__description {
    font-size: 1.125rem;
  }
}
@media screen and (max-width: 57.5em) {
  .hero {
    top: 25%;
    left: 8%;
    text-align: center;
    letter-spacing: 1.4px;
  }
  .hero__title {
    font-size: 2.75rem;
    width: 100%;
    line-height: 45px;
  }
  .hero__description {
    letter-spacing: unset;
    line-height: 18px;
  }
  .hero__link {
    font-size: 1rem;
    padding: 1rem 2rem;
  }
}
@media screen and (max-width: 48em) {
  .hero {
    top: 37%;
  }
  .hero__description {
    font-size: 1rem;
    line-height: normal;
    letter-spacing: normal;
  }
}

.step {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.step__number {
  font-family: "AvenirLTStd-Black", serif;
  font-size: 8.75rem;
  font-weight: 900;
  line-height: 0;
  color: transparent;
  -webkit-text-stroke: 3px #7DA500;
  paint-order: stroke fill;
}
.step__content {
  max-width: 500px;
}
.step__title {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.step__desc {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
}
.step i {
  font-size: 100px;
}
.step:not(:last-child) {
  margin-bottom: 4rem;
}
@media screen and (max-width: 75em) {
  .step__number {
    font-size: 6.75rem;
  }
  .step__title {
    font-size: 1.5rem;
    margin-bottom: 0.375rem;
  }
  .step__desc {
    font-size: 1rem;
    line-height: 1;
  }
  .step i {
    font-size: 70px;
  }
}
@media screen and (max-width: 57.5em) {
  .step i {
    display: none;
  }
}
@media screen and (max-width: 48em) {
  .step {
    gap: 1rem;
  }
  .step__number {
    font-size: 5.75rem;
    -webkit-text-stroke: 2px #7DA500;
  }
  .step__title {
    font-size: 1.5rem;
  }
  .step__desc {
    line-height: 1;
  }
}
@media screen and (max-width: 36em) {
  .step__number {
    font-size: 5rem;
  }
}

.steps > div:nth-child(2) {
  margin-left: calc(9.375rem * (2 - 1));
}

.steps > div:nth-child(3) {
  margin-left: calc(9.375rem * (3 - 1));
}

.steps > div:nth-child(4) {
  margin-left: calc(9.375rem * (4 - 1));
}

@media screen and (max-width: 87.5em) {
  .steps > div:nth-child(2) {
    margin-left: calc((9.375rem - 2rem) * (2 - 1));
  }
  .steps > div:nth-child(3) {
    margin-left: calc((9.375rem - 2rem) * (3 - 1));
  }
  .steps > div:nth-child(4) {
    margin-left: calc((9.375rem - 2rem) * (4 - 1));
  }
}
@media screen and (max-width: 75em) {
  .steps > div:nth-child(2) {
    margin-left: 0;
  }
  .steps > div:nth-child(3) {
    margin-left: 0;
  }
  .steps > div:nth-child(4) {
    margin-left: 0;
  }
}
.section-title {
  margin-bottom: 5rem;
}
.section-title--normal, .section-title--fancy {
  position: relative;
}
.section-title--normal::after, .section-title--normal::before, .section-title--fancy::after, .section-title--fancy::before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #7DA500;
}
@media screen and (max-width: 48em) {
  .section-title--normal::after, .section-title--normal::before, .section-title--fancy::after, .section-title--fancy::before {
    height: 2px;
  }
}
@media screen and (max-width: 75em) {
  .section-title {
    margin-bottom: 2.5rem;
  }
}
.section-title--normal::after {
  left: 0;
  bottom: -6px;
  width: 600px;
}
@media screen and (max-width: 48em) {
  .section-title--normal::after {
    width: 250px;
  }
}
.section-title__decoration {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.section-title__line {
  height: 2px;
  width: 100px;
  background-color: #7DA500;
}

.section-fancy {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}
.section-fancy i {
  color: #7DA500;
  font-size: 2.25rem;
}
@media screen and (max-width: 87.5em) {
  .section-fancy {
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 57.5em) {
  .section-fancy {
    margin-bottom: 2.5rem;
  }
}

.cards {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  border: 1px solid rgba(125, 165, 0, 0.7);
  border-radius: 10px;
  padding: 24px;
  flex: 1;
  flex-basis: 45%;
}
.card__icon {
  color: #7DA500;
  font-size: 52px;
  background-color: #f2f2f2;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  margin: 0 auto 0.75rem;
}
.card__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.card__text {
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25;
}
@media screen and (max-width: 57.5em) {
  .card__title {
    font-size: 1.25rem;
  }
  .card__icon {
    width: 70px;
    height: 70px;
    font-size: 2.75rem;
  }
}
@media screen and (max-width: 36em) {
  .card {
    flex-basis: 100%;
  }
}

.card-2 {
  background-color: white;
  display: flex;
  align-items: center;
  gap: 2.25rem;
  padding: 2rem;
  border-radius: 12px;
  max-width: 700px;
}
.card-2__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7DA500;
  width: 100px;
  height: 100px;
  border-radius: 12px;
  font-size: 3.375rem;
  flex-shrink: 0;
}
.card-2__content {
  color: #111212;
}
.card-2__title {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #103A0C;
}
.card-2__text {
  line-height: 1.25;
}
@media screen and (max-width: 87.5em) {
  .card-2 {
    gap: 2rem;
    padding: 1.75rem;
  }
  .card-2__icon {
    width: 75px;
    height: 75px;
    font-size: 2.25rem;
  }
  .card-2__title {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .card-2__text {
    font-size: 1.125rem;
    line-height: 1.15;
  }
}
@media screen and (max-width: 48em) {
  .card-2 {
    border-radius: 8px;
    gap: 1.5rem;
    padding: 1.25rem;
  }
  .card-2__icon {
    width: 60px;
    height: 60px;
    font-size: 1.75rem;
  }
  .card-2__title {
    font-size: 1.25rem;
    margin-bottom: 0;
  }
  .card-2__text {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 36em) {
  .card-2 {
    gap: 1.25rem;
    padding: 0;
    border-radius: 0;
  }
  .card-2__icon {
    width: 60px;
    height: 100%;
    border-radius: 0;
  }
  .card-2__content {
    padding-block: 1rem;
    padding-right: 0.5rem;
  }
}

.btn {
  background-color: #006838;
  text-align: center;
  border: 3px solid #006838;
  width: 100%;
  padding-block: 0.75rem;
  font-weight: 700;
  font-size: 1.25rem;
  color: #fff;
  border-radius: 10px;
  transition: 300ms ease-in-out;
}
.btn:hover {
  background-color: #C2FFE3;
  color: #111212;
  cursor: pointer;
}
@media screen and (max-width: 87.5em) {
  .btn {
    font-size: 1.125rem;
  }
}
@media screen and (max-width: 75em) {
  .btn {
    font-size: 1rem;
    font-weight: 600;
  }
}

.pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(163, 215, 0, 0.2);
  border: 2px solid #7DA500;
  border-radius: 0.75rem;
  padding: 1.5rem;
  margin-bottom: 2rem;
}
.pricing__icon {
  font-size: 3.375rem;
  margin-right: 1rem;
}
@media screen and (max-width: 75em) {
  .pricing__icon {
    font-size: 1.5rem;
  }
}

.form__row {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
}
.form__input {
  padding: 0.75rem 1.25rem;
  border: 2px solid #313131;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 1.25rem;
  transition: 300ms ease-in-out;
  outline: 2px solid transparent;
}
.form__input:hover, .form__input:focus {
  color: #111212;
  border: 2px solid #7DA500;
  background-color: rgba(125, 165, 0, 0.1);
}
.form__input--has-text {
  border: 2px solid #7DA500;
  background-color: rgba(125, 165, 0, 0.1);
}
@media screen and (max-width: 57.5em) {
  .form__input {
    padding: 0.5rem 1rem;
  }
}

.message {
  text-align: center;
  font-size: 1.25rem;
}
.message--success {
  color: #006838;
}
.message--error {
  color: red;
}

footer {
  position: relative;
}

.footer {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  flex-wrap: wrap;
  background-color: #232323;
  color: #fff;
  padding: 80px 20px 5rem;
  padding-inline: 5vw;
  font-size: 1rem;
  z-index: 20;
}
.footer .logo {
  margin-bottom: 2rem;
}
.footer__branding-text {
  font-size: 1rem;
  max-width: 400px;
  margin-bottom: 2rem;
}
.footer-section__title {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.footer-section__list {
  list-style: none;
}
.footer-section__item {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer-section__item:not(:last-child) {
  margin-bottom: 1rem;
}
.footer-section__item i {
  font-size: 1.75rem;
  color: #7DA500;
}
.footer-section__link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.footer__cover {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: lighten;
  pointer-events: none;
}
@media screen and (max-width: 48em) {
  .footer {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 36em) {
  .footer-section {
    width: 100%;
  }
  .footer-section__title {
    margin-bottom: 1.25rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  }
}

.copyright {
  background-color: #232323;
  color: #BBBBBB;
  text-align: center;
  padding: 1.25rem;
  font-size: 0.875rem;
  z-index: 2;
}

body.active-modal {
  overflow-y: hidden;
}

.attribution {
  font-size: 0.75rem;
  color: #BBBBBB;
  max-width: 350px;
}

.btn-modal {
  color: inherit;
  text-decoration: underline;
  background-color: unset;
  border: unset;
}
.btn-modal:hover {
  color: #fff;
  cursor: pointer;
}

.modal {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 40;
  background-color: #232323;
  overflow-y: scroll;
  overflow-x: hidden;
}
.modal__content {
  position: absolute;
  padding: 1.5rem 2rem;
  width: 100%;
  margin: 0 auto;
  z-index: 50;
}
.modal__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal__title {
  margin-bottom: 1.5rem;
  position: relative;
}
.modal__title:after {
  background-color: #fff;
}
.modal__subtitle {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  position: relative;
}
.modal__subtitle:after {
  background-color: #3c3c3c;
}
.modal__title::after, .modal__subtitle::after {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: -8px;
  left: 0;
}
.modal__close {
  all: unset;
  padding: 0.75rem;
  cursor: pointer;
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 3.375rem;
  transition: background-color 300ms ease-in-out;
  border-radius: 12px;
  line-height: 1;
}
.modal__close:hover {
  background-color: #3c3c3c;
}
.modal__list {
  margin-left: 1.25rem;
  margin-bottom: 1.25rem;
}
.modal a {
  color: #7DA500;
}
@media screen and (max-width: 57.5em) {
  .modal__close {
    font-size: 1.75rem;
  }
  .modal__title {
    font-size: 1.125rem;
  }
  .modal__close {
    padding: 0.375rem;
  }
  .modal li {
    font-size: 0.75rem;
  }
}

.image-slider {
  height: 100%;
  display: grid;
  place-items: center;
  position: relative;
  margin-inline: 10rem;
}
.image-slider__img {
  object-fit: contain;
  height: 100%;
  margin: 0 auto;
  flex-grow: 0;
  flex-shrink: 0;
  transition: translate 300ms ease-in-out;
}
.image-slider__btn {
  all: unset;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  padding-inline: 2rem;
  font-size: 3.375rem;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
  color: white;
  text-shadow: 0px 0px 10px black;
}
.image-slider__btn--left {
  left: 0;
}
.image-slider__btn--right {
  right: 0;
  color: white;
  transform: rotateY(180deg);
}
.image-slider__btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 57.5em) {
  .image-slider__btn {
    font-size: 2.25rem;
    padding-inline: 1.25rem;
  }
}
@media screen and (max-width: 75em) {
  .image-slider {
    margin-inline: 0;
  }
}

#pocetna {
  min-height: 100vh;
  color: #fff;
  font-weight: 600;
}

#kako-radimo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  padding: 60px 40px;
}
@media screen and (max-width: 48em) {
  #kako-radimo {
    min-height: 80vh;
    padding-inline: 20px;
  }
}

.bg-image {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.triangle-top-right {
  position: absolute;
  right: 0;
  top: 0;
  border-left: 400px solid transparent;
  border-top: 400px solid #7DA500;
}
@media screen and (max-width: 87.5em) {
  .triangle-top-right {
    border-left: 300px solid transparent;
    border-top: 300px solid #7DA500;
  }
}
@media screen and (max-width: 75em) {
  .triangle-top-right {
    border-left: 200px solid transparent;
    border-top: 200px solid #7DA500;
  }
}
@media screen and (max-width: 57.5em) {
  .triangle-top-right {
    border-left: 100px solid transparent;
    border-top: 100px solid #7DA500;
  }
}
@media screen and (max-width: 48em) {
  .triangle-top-right {
    border-left: 50px solid transparent;
    border-top: 50px solid #7DA500;
  }
}

.triangle-bottom-left {
  position: absolute;
  left: 0;
  bottom: 0;
  border-right: 400px solid transparent;
  border-bottom: 400px solid #7DA500;
}
@media screen and (max-width: 87.5em) {
  .triangle-bottom-left {
    border-right: 300px solid transparent;
    border-bottom: 300px solid #7DA500;
  }
}
@media screen and (max-width: 75em) {
  .triangle-bottom-left {
    border-right: 200px solid transparent;
    border-bottom: 200px solid #7DA500;
  }
}
@media screen and (max-width: 57.5em) {
  .triangle-bottom-left {
    border-right: 100px solid transparent;
    border-bottom: 100px solid #7DA500;
  }
}
@media screen and (max-width: 48em) {
  .triangle-bottom-left {
    border-right: 50px solid transparent;
    border-bottom: 50px solid #7DA500;
  }
}

.triangle-bottom-left-flipped-x {
  position: absolute;
  left: 0;
  top: 0;
  border-right: 400px solid transparent;
  border-top: 400px solid #516B00;
  z-index: 10;
}
@media screen and (max-width: 87.5em) {
  .triangle-bottom-left-flipped-x {
    border-right: 300px solid transparent;
    border-top: 300px solid #516B00;
  }
}
@media screen and (max-width: 75em) {
  .triangle-bottom-left-flipped-x {
    border-right: 200px solid transparent;
    border-top: 200px solid #516B00;
  }
}
@media screen and (max-width: 57.5em) {
  .triangle-bottom-left-flipped-x {
    border-right: 100px solid transparent;
    border-top: 100px solid #516B00;
  }
}
@media screen and (max-width: 48em) {
  .triangle-bottom-left-flipped-x {
    border-right: 50px solid transparent;
    border-top: 50px solid #516B00;
  }
}

#o-nama,
#eko {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  gap: 2rem;
  padding: 10rem 40px;
  min-height: 100vh;
  position: relative;
}
#o-nama .image-container img,
#eko .image-container img {
  max-height: 736px;
  position: relative;
}
#o-nama .image-container img::after,
#eko .image-container img::after {
  content: "";
  position: absolute;
  position: absolute;
  border-: 400xp solid transparent;
  border-left: 400xp solid white;
}
@media screen and (max-width: 87.5em) {
  #o-nama .image-container img::after,
  #eko .image-container img::after {
    border-: 300xp solid transparent;
    border-left: 300xp solid white;
  }
}
@media screen and (max-width: 75em) {
  #o-nama .image-container img::after,
  #eko .image-container img::after {
    border-: 200xp solid transparent;
    border-left: 200xp solid white;
  }
}
@media screen and (max-width: 57.5em) {
  #o-nama .image-container img::after,
  #eko .image-container img::after {
    border-: 100xp solid transparent;
    border-left: 100xp solid white;
  }
}
@media screen and (max-width: 48em) {
  #o-nama .image-container img::after,
  #eko .image-container img::after {
    border-: 50xp solid transparent;
    border-left: 50xp solid white;
  }
}
@media screen and (max-width: 87.5em) {
  #o-nama,
  #eko {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 8rem 20px;
  }
  #o-nama .image-container,
  #eko .image-container {
    order: 2;
  }
  #o-nama .image-container::before,
  #eko .image-container::before {
    display: none;
  }
  #o-nama p,
  #eko p {
    font-size: 1rem;
    line-height: 1.25;
  }
}
@media screen and (max-width: 48em) {
  #o-nama,
  #eko {
    padding-block: 4rem;
  }
}

.o-nama__content {
  max-width: 900px;
}

#usluge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  min-height: 80vh;
  position: relative;
  padding: 8rem 60px;
}
@media screen and (max-width: 87.5em) {
  #usluge {
    padding-block: 6rem;
  }
}
@media screen and (max-width: 36em) {
  #usluge {
    padding-inline: 0;
  }
  #usluge .cards {
    gap: 0;
  }
}

.usluge__description {
  max-width: 620px;
  font-size: 1.25rem;
  margin-bottom: 3.25rem;
  padding-inline: 1rem;
  text-align: center;
}
@media screen and (max-width: 87.5em) {
  .usluge__description {
    font-size: unset;
  }
}

#galerija {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
  background-color: rgba(193, 171, 114, 0.22);
  padding-block: 5rem;
}
@media screen and (max-width: 87.5em) {
  #galerija .image-container img {
    max-width: 350px;
  }
}
@media screen and (max-width: 75em) {
  #galerija {
    min-height: 50vh;
  }
  #galerija > div {
    flex-basis: 100%;
    text-align: center;
  }
  #galerija > div .btn {
    width: 60%;
  }
  #galerija .image-container {
    display: none;
  }
}

#cijena {
  padding-block: 5rem;
}

.cijena {
  display: flex;
  justify-content: space-around;
  gap: 4rem;
}
@media screen and (max-width: 75em) {
  .cijena {
    flex-direction: column;
  }
}

.stari_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gdje-radimo {
  margin-left: 2rem;
}
.gdje-radimo li {
  font-size: 1.25rem;
  font-weight: 600;
  list-style-type: square;
}
@media screen and (max-width: 57.5em) {
  .gdje-radimo li {
    font-size: 1rem;
    font-weight: 500;
  }
}

.clr-neutral-light {
  color: #fff;
}

.bg-neutral-light {
  background-color: #fff;
}

.clr-neutral-light-2 {
  color: #BBBBBB;
}

.bg-neutral-light-2 {
  background-color: #BBBBBB;
}

.clr-neutral-normal {
  color: #232323;
}

.bg-neutral-normal {
  background-color: #232323;
}

.clr-neutral-normal-2 {
  color: #313131;
}

.bg-neutral-normal-2 {
  background-color: #313131;
}

.clr-neutral-dark {
  color: #111212;
}

.bg-neutral-dark {
  background-color: #111212;
}

.clr-primary-light {
  color: #A3D700;
}

.bg-primary-light {
  background-color: #A3D700;
}

.clr-primary-light-2 {
  color: #C2FFE3;
}

.bg-primary-light-2 {
  background-color: #C2FFE3;
}

.clr-primary-normal {
  color: #7DA500;
}

.bg-primary-normal {
  background-color: #7DA500;
}

.clr-primary-normal-2 {
  color: #006838;
}

.bg-primary-normal-2 {
  background-color: #006838;
}

.clr-primary-dark {
  color: #516B00;
}

.bg-primary-dark {
  background-color: #516B00;
}

.clr-primary-dark-2 {
  color: #103A0C;
}

.bg-primary-dark-2 {
  background-color: #103A0C;
}

.fs-1000 {
  font-size: 8.75rem;
}

.fs-900 {
  font-size: 3.375rem;
}

.fs-850 {
  font-size: 2.75rem;
}

.fs-800 {
  font-size: 2.25rem;
}

.fs-750 {
  font-size: 2rem;
}

.fs-700 {
  font-size: 1.75rem;
}

.fs-600 {
  font-size: 1.5rem;
}

.fs-500 {
  font-size: 1.25rem;
}

.fs-400 {
  font-size: 1.125rem;
}

.fs-300 {
  font-size: 1rem;
}

.fs-200 {
  font-size: 0.875rem;
}

.fs-100 {
  font-size: 0.75rem;
}

.fs-50 {
  font-size: 0.625rem;
}

.margin-4 {
  margin: 0.25rem;
}
.margin-bottom-4 {
  margin-bottom: 0.25rem;
}
.margin-block-start-4 {
  margin-block-start: 0.25rem;
}
.margin-block-end-4 {
  margin-block-end: 0.25rem;
}
.margin-block-4 {
  margin-block: 0.25rem;
}
.margin-inline-start-4 {
  margin-inline-start: 0.25rem;
}
.margin-inline-end-4 {
  margin-inline-end: 0.25rem;
}
.margin-inline-4 {
  margin-inline: 0.25rem;
}

.padding-4 {
  padding: 0.25rem;
}
.padding-block-start-4 {
  padding-block-start: 0.25rem;
}
.padding-block-end-4 {
  padding-block-end: 0.25rem;
}
.padding-block-4 {
  padding-block: 0.25rem;
}
.padding-inline-start-4 {
  padding-inline-start: 0.25rem;
}
.padding-inline-end-4 {
  padding-inline-end: 0.25rem;
}
.padding-inline-4 {
  padding-inline: 0.25rem;
}

.margin-6 {
  margin: 0.375rem;
}
.margin-bottom-6 {
  margin-bottom: 0.375rem;
}
.margin-block-start-6 {
  margin-block-start: 0.375rem;
}
.margin-block-end-6 {
  margin-block-end: 0.375rem;
}
.margin-block-6 {
  margin-block: 0.375rem;
}
.margin-inline-start-6 {
  margin-inline-start: 0.375rem;
}
.margin-inline-end-6 {
  margin-inline-end: 0.375rem;
}
.margin-inline-6 {
  margin-inline: 0.375rem;
}

.padding-6 {
  padding: 0.375rem;
}
.padding-block-start-6 {
  padding-block-start: 0.375rem;
}
.padding-block-end-6 {
  padding-block-end: 0.375rem;
}
.padding-block-6 {
  padding-block: 0.375rem;
}
.padding-inline-start-6 {
  padding-inline-start: 0.375rem;
}
.padding-inline-end-6 {
  padding-inline-end: 0.375rem;
}
.padding-inline-6 {
  padding-inline: 0.375rem;
}

.margin-8 {
  margin: 0.5rem;
}
.margin-bottom-8 {
  margin-bottom: 0.5rem;
}
.margin-block-start-8 {
  margin-block-start: 0.5rem;
}
.margin-block-end-8 {
  margin-block-end: 0.5rem;
}
.margin-block-8 {
  margin-block: 0.5rem;
}
.margin-inline-start-8 {
  margin-inline-start: 0.5rem;
}
.margin-inline-end-8 {
  margin-inline-end: 0.5rem;
}
.margin-inline-8 {
  margin-inline: 0.5rem;
}

.padding-8 {
  padding: 0.5rem;
}
.padding-block-start-8 {
  padding-block-start: 0.5rem;
}
.padding-block-end-8 {
  padding-block-end: 0.5rem;
}
.padding-block-8 {
  padding-block: 0.5rem;
}
.padding-inline-start-8 {
  padding-inline-start: 0.5rem;
}
.padding-inline-end-8 {
  padding-inline-end: 0.5rem;
}
.padding-inline-8 {
  padding-inline: 0.5rem;
}

.margin-10 {
  margin: 0.6125rem;
}
.margin-bottom-10 {
  margin-bottom: 0.6125rem;
}
.margin-block-start-10 {
  margin-block-start: 0.6125rem;
}
.margin-block-end-10 {
  margin-block-end: 0.6125rem;
}
.margin-block-10 {
  margin-block: 0.6125rem;
}
.margin-inline-start-10 {
  margin-inline-start: 0.6125rem;
}
.margin-inline-end-10 {
  margin-inline-end: 0.6125rem;
}
.margin-inline-10 {
  margin-inline: 0.6125rem;
}

.padding-10 {
  padding: 0.6125rem;
}
.padding-block-start-10 {
  padding-block-start: 0.6125rem;
}
.padding-block-end-10 {
  padding-block-end: 0.6125rem;
}
.padding-block-10 {
  padding-block: 0.6125rem;
}
.padding-inline-start-10 {
  padding-inline-start: 0.6125rem;
}
.padding-inline-end-10 {
  padding-inline-end: 0.6125rem;
}
.padding-inline-10 {
  padding-inline: 0.6125rem;
}

.margin-12 {
  margin: 0.75rem;
}
.margin-bottom-12 {
  margin-bottom: 0.75rem;
}
.margin-block-start-12 {
  margin-block-start: 0.75rem;
}
.margin-block-end-12 {
  margin-block-end: 0.75rem;
}
.margin-block-12 {
  margin-block: 0.75rem;
}
.margin-inline-start-12 {
  margin-inline-start: 0.75rem;
}
.margin-inline-end-12 {
  margin-inline-end: 0.75rem;
}
.margin-inline-12 {
  margin-inline: 0.75rem;
}

.padding-12 {
  padding: 0.75rem;
}
.padding-block-start-12 {
  padding-block-start: 0.75rem;
}
.padding-block-end-12 {
  padding-block-end: 0.75rem;
}
.padding-block-12 {
  padding-block: 0.75rem;
}
.padding-inline-start-12 {
  padding-inline-start: 0.75rem;
}
.padding-inline-end-12 {
  padding-inline-end: 0.75rem;
}
.padding-inline-12 {
  padding-inline: 0.75rem;
}

.margin-16 {
  margin: 1rem;
}
.margin-bottom-16 {
  margin-bottom: 1rem;
}
.margin-block-start-16 {
  margin-block-start: 1rem;
}
.margin-block-end-16 {
  margin-block-end: 1rem;
}
.margin-block-16 {
  margin-block: 1rem;
}
.margin-inline-start-16 {
  margin-inline-start: 1rem;
}
.margin-inline-end-16 {
  margin-inline-end: 1rem;
}
.margin-inline-16 {
  margin-inline: 1rem;
}

.padding-16 {
  padding: 1rem;
}
.padding-block-start-16 {
  padding-block-start: 1rem;
}
.padding-block-end-16 {
  padding-block-end: 1rem;
}
.padding-block-16 {
  padding-block: 1rem;
}
.padding-inline-start-16 {
  padding-inline-start: 1rem;
}
.padding-inline-end-16 {
  padding-inline-end: 1rem;
}
.padding-inline-16 {
  padding-inline: 1rem;
}

.margin-18 {
  margin: 1.125rem;
}
.margin-bottom-18 {
  margin-bottom: 1.125rem;
}
.margin-block-start-18 {
  margin-block-start: 1.125rem;
}
.margin-block-end-18 {
  margin-block-end: 1.125rem;
}
.margin-block-18 {
  margin-block: 1.125rem;
}
.margin-inline-start-18 {
  margin-inline-start: 1.125rem;
}
.margin-inline-end-18 {
  margin-inline-end: 1.125rem;
}
.margin-inline-18 {
  margin-inline: 1.125rem;
}

.padding-18 {
  padding: 1.125rem;
}
.padding-block-start-18 {
  padding-block-start: 1.125rem;
}
.padding-block-end-18 {
  padding-block-end: 1.125rem;
}
.padding-block-18 {
  padding-block: 1.125rem;
}
.padding-inline-start-18 {
  padding-inline-start: 1.125rem;
}
.padding-inline-end-18 {
  padding-inline-end: 1.125rem;
}
.padding-inline-18 {
  padding-inline: 1.125rem;
}

.margin-20 {
  margin: 1.25rem;
}
.margin-bottom-20 {
  margin-bottom: 1.25rem;
}
.margin-block-start-20 {
  margin-block-start: 1.25rem;
}
.margin-block-end-20 {
  margin-block-end: 1.25rem;
}
.margin-block-20 {
  margin-block: 1.25rem;
}
.margin-inline-start-20 {
  margin-inline-start: 1.25rem;
}
.margin-inline-end-20 {
  margin-inline-end: 1.25rem;
}
.margin-inline-20 {
  margin-inline: 1.25rem;
}

.padding-20 {
  padding: 1.25rem;
}
.padding-block-start-20 {
  padding-block-start: 1.25rem;
}
.padding-block-end-20 {
  padding-block-end: 1.25rem;
}
.padding-block-20 {
  padding-block: 1.25rem;
}
.padding-inline-start-20 {
  padding-inline-start: 1.25rem;
}
.padding-inline-end-20 {
  padding-inline-end: 1.25rem;
}
.padding-inline-20 {
  padding-inline: 1.25rem;
}

.margin-24 {
  margin: 1.5rem;
}
.margin-bottom-24 {
  margin-bottom: 1.5rem;
}
.margin-block-start-24 {
  margin-block-start: 1.5rem;
}
.margin-block-end-24 {
  margin-block-end: 1.5rem;
}
.margin-block-24 {
  margin-block: 1.5rem;
}
.margin-inline-start-24 {
  margin-inline-start: 1.5rem;
}
.margin-inline-end-24 {
  margin-inline-end: 1.5rem;
}
.margin-inline-24 {
  margin-inline: 1.5rem;
}

.padding-24 {
  padding: 1.5rem;
}
.padding-block-start-24 {
  padding-block-start: 1.5rem;
}
.padding-block-end-24 {
  padding-block-end: 1.5rem;
}
.padding-block-24 {
  padding-block: 1.5rem;
}
.padding-inline-start-24 {
  padding-inline-start: 1.5rem;
}
.padding-inline-end-24 {
  padding-inline-end: 1.5rem;
}
.padding-inline-24 {
  padding-inline: 1.5rem;
}

.margin-28 {
  margin: 1.75rem;
}
.margin-bottom-28 {
  margin-bottom: 1.75rem;
}
.margin-block-start-28 {
  margin-block-start: 1.75rem;
}
.margin-block-end-28 {
  margin-block-end: 1.75rem;
}
.margin-block-28 {
  margin-block: 1.75rem;
}
.margin-inline-start-28 {
  margin-inline-start: 1.75rem;
}
.margin-inline-end-28 {
  margin-inline-end: 1.75rem;
}
.margin-inline-28 {
  margin-inline: 1.75rem;
}

.padding-28 {
  padding: 1.75rem;
}
.padding-block-start-28 {
  padding-block-start: 1.75rem;
}
.padding-block-end-28 {
  padding-block-end: 1.75rem;
}
.padding-block-28 {
  padding-block: 1.75rem;
}
.padding-inline-start-28 {
  padding-inline-start: 1.75rem;
}
.padding-inline-end-28 {
  padding-inline-end: 1.75rem;
}
.padding-inline-28 {
  padding-inline: 1.75rem;
}

.margin-32 {
  margin: 2rem;
}
.margin-bottom-32 {
  margin-bottom: 2rem;
}
.margin-block-start-32 {
  margin-block-start: 2rem;
}
.margin-block-end-32 {
  margin-block-end: 2rem;
}
.margin-block-32 {
  margin-block: 2rem;
}
.margin-inline-start-32 {
  margin-inline-start: 2rem;
}
.margin-inline-end-32 {
  margin-inline-end: 2rem;
}
.margin-inline-32 {
  margin-inline: 2rem;
}

.padding-32 {
  padding: 2rem;
}
.padding-block-start-32 {
  padding-block-start: 2rem;
}
.padding-block-end-32 {
  padding-block-end: 2rem;
}
.padding-block-32 {
  padding-block: 2rem;
}
.padding-inline-start-32 {
  padding-inline-start: 2rem;
}
.padding-inline-end-32 {
  padding-inline-end: 2rem;
}
.padding-inline-32 {
  padding-inline: 2rem;
}

.margin-36 {
  margin: 2.25rem;
}
.margin-bottom-36 {
  margin-bottom: 2.25rem;
}
.margin-block-start-36 {
  margin-block-start: 2.25rem;
}
.margin-block-end-36 {
  margin-block-end: 2.25rem;
}
.margin-block-36 {
  margin-block: 2.25rem;
}
.margin-inline-start-36 {
  margin-inline-start: 2.25rem;
}
.margin-inline-end-36 {
  margin-inline-end: 2.25rem;
}
.margin-inline-36 {
  margin-inline: 2.25rem;
}

.padding-36 {
  padding: 2.25rem;
}
.padding-block-start-36 {
  padding-block-start: 2.25rem;
}
.padding-block-end-36 {
  padding-block-end: 2.25rem;
}
.padding-block-36 {
  padding-block: 2.25rem;
}
.padding-inline-start-36 {
  padding-inline-start: 2.25rem;
}
.padding-inline-end-36 {
  padding-inline-end: 2.25rem;
}
.padding-inline-36 {
  padding-inline: 2.25rem;
}

.margin-40 {
  margin: 2.5rem;
}
.margin-bottom-40 {
  margin-bottom: 2.5rem;
}
.margin-block-start-40 {
  margin-block-start: 2.5rem;
}
.margin-block-end-40 {
  margin-block-end: 2.5rem;
}
.margin-block-40 {
  margin-block: 2.5rem;
}
.margin-inline-start-40 {
  margin-inline-start: 2.5rem;
}
.margin-inline-end-40 {
  margin-inline-end: 2.5rem;
}
.margin-inline-40 {
  margin-inline: 2.5rem;
}

.padding-40 {
  padding: 2.5rem;
}
.padding-block-start-40 {
  padding-block-start: 2.5rem;
}
.padding-block-end-40 {
  padding-block-end: 2.5rem;
}
.padding-block-40 {
  padding-block: 2.5rem;
}
.padding-inline-start-40 {
  padding-inline-start: 2.5rem;
}
.padding-inline-end-40 {
  padding-inline-end: 2.5rem;
}
.padding-inline-40 {
  padding-inline: 2.5rem;
}

.margin-48 {
  margin: 3rem;
}
.margin-bottom-48 {
  margin-bottom: 3rem;
}
.margin-block-start-48 {
  margin-block-start: 3rem;
}
.margin-block-end-48 {
  margin-block-end: 3rem;
}
.margin-block-48 {
  margin-block: 3rem;
}
.margin-inline-start-48 {
  margin-inline-start: 3rem;
}
.margin-inline-end-48 {
  margin-inline-end: 3rem;
}
.margin-inline-48 {
  margin-inline: 3rem;
}

.padding-48 {
  padding: 3rem;
}
.padding-block-start-48 {
  padding-block-start: 3rem;
}
.padding-block-end-48 {
  padding-block-end: 3rem;
}
.padding-block-48 {
  padding-block: 3rem;
}
.padding-inline-start-48 {
  padding-inline-start: 3rem;
}
.padding-inline-end-48 {
  padding-inline-end: 3rem;
}
.padding-inline-48 {
  padding-inline: 3rem;
}

.margin-52 {
  margin: 3.25rem;
}
.margin-bottom-52 {
  margin-bottom: 3.25rem;
}
.margin-block-start-52 {
  margin-block-start: 3.25rem;
}
.margin-block-end-52 {
  margin-block-end: 3.25rem;
}
.margin-block-52 {
  margin-block: 3.25rem;
}
.margin-inline-start-52 {
  margin-inline-start: 3.25rem;
}
.margin-inline-end-52 {
  margin-inline-end: 3.25rem;
}
.margin-inline-52 {
  margin-inline: 3.25rem;
}

.padding-52 {
  padding: 3.25rem;
}
.padding-block-start-52 {
  padding-block-start: 3.25rem;
}
.padding-block-end-52 {
  padding-block-end: 3.25rem;
}
.padding-block-52 {
  padding-block: 3.25rem;
}
.padding-inline-start-52 {
  padding-inline-start: 3.25rem;
}
.padding-inline-end-52 {
  padding-inline-end: 3.25rem;
}
.padding-inline-52 {
  padding-inline: 3.25rem;
}

.margin-64 {
  margin: 4rem;
}
.margin-bottom-64 {
  margin-bottom: 4rem;
}
.margin-block-start-64 {
  margin-block-start: 4rem;
}
.margin-block-end-64 {
  margin-block-end: 4rem;
}
.margin-block-64 {
  margin-block: 4rem;
}
.margin-inline-start-64 {
  margin-inline-start: 4rem;
}
.margin-inline-end-64 {
  margin-inline-end: 4rem;
}
.margin-inline-64 {
  margin-inline: 4rem;
}

.padding-64 {
  padding: 4rem;
}
.padding-block-start-64 {
  padding-block-start: 4rem;
}
.padding-block-end-64 {
  padding-block-end: 4rem;
}
.padding-block-64 {
  padding-block: 4rem;
}
.padding-inline-start-64 {
  padding-inline-start: 4rem;
}
.padding-inline-end-64 {
  padding-inline-end: 4rem;
}
.padding-inline-64 {
  padding-inline: 4rem;
}

.margin-80 {
  margin: 5rem;
}
.margin-bottom-80 {
  margin-bottom: 5rem;
}
.margin-block-start-80 {
  margin-block-start: 5rem;
}
.margin-block-end-80 {
  margin-block-end: 5rem;
}
.margin-block-80 {
  margin-block: 5rem;
}
.margin-inline-start-80 {
  margin-inline-start: 5rem;
}
.margin-inline-end-80 {
  margin-inline-end: 5rem;
}
.margin-inline-80 {
  margin-inline: 5rem;
}

.padding-80 {
  padding: 5rem;
}
.padding-block-start-80 {
  padding-block-start: 5rem;
}
.padding-block-end-80 {
  padding-block-end: 5rem;
}
.padding-block-80 {
  padding-block: 5rem;
}
.padding-inline-start-80 {
  padding-inline-start: 5rem;
}
.padding-inline-end-80 {
  padding-inline-end: 5rem;
}
.padding-inline-80 {
  padding-inline: 5rem;
}

.image-container {
  position: relative;
  flex-basis: 30%;
}
.image-container--corner-cut::before {
  content: "";
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  border-right: 125px solid transparent;
  border-top: 125px solid white;
}
@media screen and (max-width: 87.5em) {
  .image-container--corner-cut::before {
    border-right: 25px solid transparent;
    border-top: 25px solid white;
  }
}
@media screen and (max-width: 75em) {
  .image-container--corner-cut::before {
    border-right: -75px solid transparent;
    border-top: -75px solid white;
  }
}
@media screen and (max-width: 57.5em) {
  .image-container--corner-cut::before {
    border-right: -175px solid transparent;
    border-top: -175px solid white;
  }
}
@media screen and (max-width: 48em) {
  .image-container--corner-cut::before {
    border-right: -225px solid transparent;
    border-top: -225px solid white;
  }
}
.image-container img {
  border-radius: 2rem;
}

.flex-basis-50 {
  flex-basis: 50%;
}

.color-white * {
  color: white !important;
}
.color-white h2::before, .color-white h2::after {
  color: inherit !important;
  background-color: white;
}

.text-bold {
  font-weight: 700;
}

.flip-x {
  transform: rotateY(180deg);
}

/*# sourceMappingURL=App.css.map */
