*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
}

@font-face {
  font-family: "icomoon";
  src: url("/src/fonts/icomoon.eot?ne4zcr");
  src: url("/src/fonts/icomoon.eot?ne4zcr#iefix") format("embedded-opentype"), url("/src/fonts/icomoon.ttf?ne4zcr") format("truetype"), url("/src/fonts/icomoon.woff?ne4zcr") format("woff"), url("/src/fonts/icomoon.svg?ne4zcr#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-axe:before {
  content: "\e90c";
}

.icon-paintbrush:before {
  content: "\e90d";
}

.icon-phone:before {
  content: "\e900";
}

.icon-medal:before {
  content: "\e901";
}

.icon-grass:before {
  content: "\e902";
}

.icon-handshake:before {
  content: "\e903";
}

.icon-email:before {
  content: "\e904";
}

.icon-leaf:before {
  content: "\e905";
}

.icon-euro-coin:before {
  content: "\e906";
}

.icon-hedge-trimmer:before {
  content: "\e907";
}

.icon-people-talking:before {
  content: "\e908";
}

.icon-gear:before {
  content: "\e909";
}

.icon-map-pin:before {
  content: "\e90a";
}

.icon-tree-thin:before {
  content: "\e90b";
}

.icon-calendar:before {
  content: "\e90e";
}

.icon-workspace-trusted:before {
  content: "\e90f";
}

.icon-arrow_left:before {
  content: "\e910";
}

.icon-arrow_right:before {
  content: "\e911";
}

.icon-lawn-mower:before {
  content: "\e912";
}

.icon-gardening-shears:before {
  content: "\e913";
}

@font-face {
  font-family: "AvenirLTStd-Black";
  src: url("/src/fonts/AvenirLTStd-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  color: #232323;
  line-height: 1.5;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

#pocetna,
#kako-radimo,
#o-nama,
#usluge,
#galerija,
#cijena {
  min-height: 100vh;
  position: relative;
  padding-inline: 10vw;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.logo {
  width: 100%;
  max-width: 460px;
}

.hero__link:hover, .nav__link:hover {
  cursor: pointer;
  border-color: #A3D700;
  background-color: rgba(125, 165, 0, 0.4);
}

.nav {
  display: flex;
  gap: 1rem;
}
.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: currentColor;
  text-decoration: none;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  text-transform: uppercase;
  border: 2px solid transparent;
  border-radius: 10px;
  white-space: nowrap;
  transition: 300ms ease-in-out;
}
.hero {
  max-width: 50rem;
  margin-left: 7.6875rem;
  letter-spacing: 1.6px;
  position: absolute;
  top: 37%;
}
.hero__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}
.hero__title {
  width: 90%;
  font-size: 3.375rem;
  line-height: 55px;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}
.hero__description {
  margin-bottom: 3.25rem;
  font-size: 1.25rem;
  line-height: 24px;
}
.hero__link {
  display: inline-block;
  padding: 1.25rem 3rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: inherit;
  border: 2px solid #7DA500;
  border-radius: 10px;
  transition: 300ms ease-in-out;
}
.steps > div:nth-child(2) {
  margin-left: calc(9.375rem * (2 - 1));
}

.steps > div:nth-child(3) {
  margin-left: calc(9.375rem * (3 - 1));
}

.steps > div:nth-child(4) {
  margin-left: calc(9.375rem * (4 - 1));
}

.step {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.step__number {
  font-family: "AvenirLTStd-Black", serif;
  font-size: 8.75rem;
  font-weight: 900;
  line-height: 0;
  color: transparent;
  -webkit-text-stroke: 3px #7DA500;
  paint-order: stroke fill;
}
.step__content {
  max-width: 500px;
}
.step__title {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.step__desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}
.step i {
  font-size: 100px;
}
.step:not(:last-child) {
  margin-bottom: 64px;
}

.section-header {
  padding-top: 7.5rem;
  margin-bottom: 88px;
}

.section-title--normal, .section-title--fancy {
  position: relative;
}
.section-title--normal::after, .section-title--normal::before, .section-title--fancy::after, .section-title--fancy::before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #7DA500;
}
.section-title--normal::after {
  left: 0;
  bottom: -6px;
  width: 600px;
}
.section-title--fancy::before {
  left: -150px;
  bottom: -30px;
  width: 125px;
}
.section-title--fancy::after {
  left: 150px;
  bottom: -30px;
  width: 125px;
}

.section-fancy {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}
.section-fancy i {
  color: #7DA500;
  font-size: 2rem;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  border: 1px solid rgba(125, 165, 0, 0.7);
  border-radius: 10px;
  padding: 24px;
  flex: 1;
  flex-basis: 45%;
}
.card__icon {
  color: #7DA500;
  font-size: 52px;
  background-color: #f2f2f2;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  margin: 0 auto 0.75rem;
}
.card__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.card__text {
  width: 100%;
  font-size: 14px;
}

.card-2 {
  background-color: white;
  display: flex;
  align-items: center;
  gap: 36px;
  padding: 2rem;
  border-radius: 12px;
  max-width: 700px;
}
.card-2__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7DA500;
  width: 100px;
  height: 100px;
  border-radius: 12px;
  font-size: 3.375rem;
  flex-shrink: 0;
}
.card-2__content {
  color: #111212;
}
.card-2__title {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #103A0C;
}
.card-2__text {
  line-height: 20px;
}

.btn {
  background-color: #006838;
  text-align: center;
  border: 3px solid #006838;
  width: 100%;
  padding-block: 0.75rem;
  font-weight: 700;
  font-size: 1.25rem;
  color: #fff;
  border-radius: 10px;
  transition: 300ms ease-in-out;
}
.btn:hover {
  background-color: #C2FFE3;
  color: #111212;
  cursor: pointer;
}

.pricing {
  display: flex;
  background-color: rgba(163, 215, 0, 0.2);
  border: 2px solid #7DA500;
  border-radius: 0.75rem;
  padding: 1.5rem;
  margin-bottom: 2rem;
}
.pricing__icon {
  font-size: 3.375rem;
  margin-right: 1rem;
}
.form__row {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.form__input {
  padding: 1.25rem 1.5rem;
  border: 2px solid #313131;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 2rem;
  transition: 300ms ease-in-out;
  outline: 2px solid transparent;
}
.form__input:hover, .form__input:focus {
  color: #111212;
  border: 2px solid #7DA500;
  background-color: rgba(125, 165, 0, 0.1);
}
.form__input:focus {
  outline: 2px solid #7DA500;
}
.form__input--has-text {
  background-color: rgba(125, 165, 0, 0.1);
}

footer {
  position: relative;
}

.footer {
  display: flex;
  justify-content: space-around;
  background-color: #232323;
  color: #fff;
  padding: 80px 20px 5rem;
  padding-inline: 5vw;
  font-size: 1rem;
}
.footer .logo {
  margin-bottom: 2rem;
}
.footer__branding-text {
  font-size: 0.875rem;
  max-width: 400px;
  margin-bottom: 2rem;
}
.footer-section {
  z-index: 2;
}
.footer-section__title {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.footer-section__list {
  list-style: none;
}
.footer-section__item {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer-section__item:not(:last-child) {
  margin-bottom: 1rem;
}
.footer-section__item i {
  font-size: 1.75rem;
  color: #7DA500;
}
.footer__cover {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: lighten;
}

.copyright {
  background-color: #232323;
  color: #BBBBBB;
  text-align: center;
  padding: 1.25rem;
  font-size: 0.875rem;
  z-index: 2;
}

.attribution {
  font-size: 10px;
  color: #BBBBBB;
}
.attribution__title {
  margin-bottom: 0.5rem;
}
.attribution__list {
  margin-left: 1.25rem;
  margin-bottom: 0.5rem;
  font-size: 10px;
  color: #BBBBBB;
}
.attribution a {
  color: inherit;
  text-decoration: none;
}
.attribution a:hover {
  text-decoration: underline;
}

.page-wrapper {
  padding-inline: 15vw;
}

#pocetna {
  color: #fff;
  font-weight: 600;
}

#kako-radimo {
  display: flex;
  align-items: center;
}

.bg-image {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.triangle-top-right {
  position: absolute;
  right: 0;
  top: 0;
  border-left: 600px solid transparent;
  border-top: 600px solid #7DA500;
}

.triangle-bottom-left {
  position: absolute;
  left: 0;
  bottom: 0;
  border-right: 410px solid transparent;
  border-bottom: 410px solid #7DA500;
}

.triangle-bottom-left-flipped-x {
  position: absolute;
  left: 0;
  top: 0;
  border-right: 410px solid transparent;
  border-top: 410px solid #516B00;
}

#o-nama {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5rem;
  padding-block: 10rem;
}
#o-nama img {
  max-height: 736px;
  position: relative;
}
#o-nama img::after {
  content: "";
  position: absolute;
  position: absolute;
  border-: 400xp solid transparent;
  border-left: 400xp solid white;
}

#usluge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding-block: 10rem;
}

.usluge__description {
  max-width: 620px;
  font-size: 22px;
  margin-bottom: 3.25rem;
  text-align: center;
}

#galerija {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-color: rgba(193, 171, 114, 0.22);
}

#cijena {
  padding-block: 10rem;
}

#cijena > div {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.clr-neutral-light {
  color: #fff;
}

.bg-neutral-light {
  background-color: #fff;
}

.clr-neutral-light-2 {
  color: #BBBBBB;
}

.bg-neutral-light-2 {
  background-color: #BBBBBB;
}

.clr-neutral-normal {
  color: #232323;
}

.bg-neutral-normal {
  background-color: #232323;
}

.clr-neutral-normal-2 {
  color: #313131;
}

.bg-neutral-normal-2 {
  background-color: #313131;
}

.clr-neutral-dark {
  color: #111212;
}

.bg-neutral-dark {
  background-color: #111212;
}

.clr-primary-light {
  color: #A3D700;
}

.bg-primary-light {
  background-color: #A3D700;
}

.clr-primary-light-2 {
  color: #C2FFE3;
}

.bg-primary-light-2 {
  background-color: #C2FFE3;
}

.clr-primary-normal {
  color: #7DA500;
}

.bg-primary-normal {
  background-color: #7DA500;
}

.clr-primary-normal-2 {
  color: #006838;
}

.bg-primary-normal-2 {
  background-color: #006838;
}

.clr-primary-dark {
  color: #516B00;
}

.bg-primary-dark {
  background-color: #516B00;
}

.clr-primary-dark-2 {
  color: #103A0C;
}

.bg-primary-dark-2 {
  background-color: #103A0C;
}

.fs-1000 {
  font-size: 8.75rem;
}

.fs-900 {
  font-size: 3.375rem;
}

.fs-800 {
  font-size: 2rem;
}

.fs-700 {
  font-size: 1.75rem;
}

.fs-600 {
  font-size: 1.5rem;
}

.fs-500 {
  font-size: 1.25rem;
}

.fs-400 {
  font-size: 1.125rem;
}

.fs-300 {
  font-size: 1rem;
}

.fs-200 {
  font-size: 0.875rem;
}

.margin-8 {
  margin: 0.5rem;
}
.margin-bottom-8 {
  margin-bottom: 0.5rem;
}
.margin-block-start-8 {
  margin-block-start: 0.5rem;
}
.margin-block-end-8 {
  margin-block-end: 0.5rem;
}
.margin-block-8 {
  margin-block: 0.5rem;
}
.margin-inline-start-8 {
  margin-inline-start: 0.5rem;
}
.margin-inline-end-8 {
  margin-inline-end: 0.5rem;
}
.margin-inline-8 {
  margin-inline: 0.5rem;
}

.padding-8 {
  padding: 0.5rem;
}
.padding-block-start-8 {
  padding-block-start: 0.5rem;
}
.padding-block-end-8 {
  padding-block-end: 0.5rem;
}
.padding-block-8 {
  padding-block: 0.5rem;
}
.padding-inline-start-8 {
  padding-inline-start: 0.5rem;
}
.padding-inline-end-8 {
  padding-inline-end: 0.5rem;
}
.padding-inline-8 {
  padding-inline: 0.5rem;
}

.margin-10 {
  margin: 0.6125rem;
}
.margin-bottom-10 {
  margin-bottom: 0.6125rem;
}
.margin-block-start-10 {
  margin-block-start: 0.6125rem;
}
.margin-block-end-10 {
  margin-block-end: 0.6125rem;
}
.margin-block-10 {
  margin-block: 0.6125rem;
}
.margin-inline-start-10 {
  margin-inline-start: 0.6125rem;
}
.margin-inline-end-10 {
  margin-inline-end: 0.6125rem;
}
.margin-inline-10 {
  margin-inline: 0.6125rem;
}

.padding-10 {
  padding: 0.6125rem;
}
.padding-block-start-10 {
  padding-block-start: 0.6125rem;
}
.padding-block-end-10 {
  padding-block-end: 0.6125rem;
}
.padding-block-10 {
  padding-block: 0.6125rem;
}
.padding-inline-start-10 {
  padding-inline-start: 0.6125rem;
}
.padding-inline-end-10 {
  padding-inline-end: 0.6125rem;
}
.padding-inline-10 {
  padding-inline: 0.6125rem;
}

.margin-12 {
  margin: 0.75rem;
}
.margin-bottom-12 {
  margin-bottom: 0.75rem;
}
.margin-block-start-12 {
  margin-block-start: 0.75rem;
}
.margin-block-end-12 {
  margin-block-end: 0.75rem;
}
.margin-block-12 {
  margin-block: 0.75rem;
}
.margin-inline-start-12 {
  margin-inline-start: 0.75rem;
}
.margin-inline-end-12 {
  margin-inline-end: 0.75rem;
}
.margin-inline-12 {
  margin-inline: 0.75rem;
}

.padding-12 {
  padding: 0.75rem;
}
.padding-block-start-12 {
  padding-block-start: 0.75rem;
}
.padding-block-end-12 {
  padding-block-end: 0.75rem;
}
.padding-block-12 {
  padding-block: 0.75rem;
}
.padding-inline-start-12 {
  padding-inline-start: 0.75rem;
}
.padding-inline-end-12 {
  padding-inline-end: 0.75rem;
}
.padding-inline-12 {
  padding-inline: 0.75rem;
}

.margin-16 {
  margin: 1rem;
}
.margin-bottom-16 {
  margin-bottom: 1rem;
}
.margin-block-start-16 {
  margin-block-start: 1rem;
}
.margin-block-end-16 {
  margin-block-end: 1rem;
}
.margin-block-16 {
  margin-block: 1rem;
}
.margin-inline-start-16 {
  margin-inline-start: 1rem;
}
.margin-inline-end-16 {
  margin-inline-end: 1rem;
}
.margin-inline-16 {
  margin-inline: 1rem;
}

.padding-16 {
  padding: 1rem;
}
.padding-block-start-16 {
  padding-block-start: 1rem;
}
.padding-block-end-16 {
  padding-block-end: 1rem;
}
.padding-block-16 {
  padding-block: 1rem;
}
.padding-inline-start-16 {
  padding-inline-start: 1rem;
}
.padding-inline-end-16 {
  padding-inline-end: 1rem;
}
.padding-inline-16 {
  padding-inline: 1rem;
}

.margin-18 {
  margin: 1.125rem;
}
.margin-bottom-18 {
  margin-bottom: 1.125rem;
}
.margin-block-start-18 {
  margin-block-start: 1.125rem;
}
.margin-block-end-18 {
  margin-block-end: 1.125rem;
}
.margin-block-18 {
  margin-block: 1.125rem;
}
.margin-inline-start-18 {
  margin-inline-start: 1.125rem;
}
.margin-inline-end-18 {
  margin-inline-end: 1.125rem;
}
.margin-inline-18 {
  margin-inline: 1.125rem;
}

.padding-18 {
  padding: 1.125rem;
}
.padding-block-start-18 {
  padding-block-start: 1.125rem;
}
.padding-block-end-18 {
  padding-block-end: 1.125rem;
}
.padding-block-18 {
  padding-block: 1.125rem;
}
.padding-inline-start-18 {
  padding-inline-start: 1.125rem;
}
.padding-inline-end-18 {
  padding-inline-end: 1.125rem;
}
.padding-inline-18 {
  padding-inline: 1.125rem;
}

.margin-20 {
  margin: 1.25rem;
}
.margin-bottom-20 {
  margin-bottom: 1.25rem;
}
.margin-block-start-20 {
  margin-block-start: 1.25rem;
}
.margin-block-end-20 {
  margin-block-end: 1.25rem;
}
.margin-block-20 {
  margin-block: 1.25rem;
}
.margin-inline-start-20 {
  margin-inline-start: 1.25rem;
}
.margin-inline-end-20 {
  margin-inline-end: 1.25rem;
}
.margin-inline-20 {
  margin-inline: 1.25rem;
}

.padding-20 {
  padding: 1.25rem;
}
.padding-block-start-20 {
  padding-block-start: 1.25rem;
}
.padding-block-end-20 {
  padding-block-end: 1.25rem;
}
.padding-block-20 {
  padding-block: 1.25rem;
}
.padding-inline-start-20 {
  padding-inline-start: 1.25rem;
}
.padding-inline-end-20 {
  padding-inline-end: 1.25rem;
}
.padding-inline-20 {
  padding-inline: 1.25rem;
}

.margin-24 {
  margin: 1.5rem;
}
.margin-bottom-24 {
  margin-bottom: 1.5rem;
}
.margin-block-start-24 {
  margin-block-start: 1.5rem;
}
.margin-block-end-24 {
  margin-block-end: 1.5rem;
}
.margin-block-24 {
  margin-block: 1.5rem;
}
.margin-inline-start-24 {
  margin-inline-start: 1.5rem;
}
.margin-inline-end-24 {
  margin-inline-end: 1.5rem;
}
.margin-inline-24 {
  margin-inline: 1.5rem;
}

.padding-24 {
  padding: 1.5rem;
}
.padding-block-start-24 {
  padding-block-start: 1.5rem;
}
.padding-block-end-24 {
  padding-block-end: 1.5rem;
}
.padding-block-24 {
  padding-block: 1.5rem;
}
.padding-inline-start-24 {
  padding-inline-start: 1.5rem;
}
.padding-inline-end-24 {
  padding-inline-end: 1.5rem;
}
.padding-inline-24 {
  padding-inline: 1.5rem;
}

.margin-28 {
  margin: 1.75rem;
}
.margin-bottom-28 {
  margin-bottom: 1.75rem;
}
.margin-block-start-28 {
  margin-block-start: 1.75rem;
}
.margin-block-end-28 {
  margin-block-end: 1.75rem;
}
.margin-block-28 {
  margin-block: 1.75rem;
}
.margin-inline-start-28 {
  margin-inline-start: 1.75rem;
}
.margin-inline-end-28 {
  margin-inline-end: 1.75rem;
}
.margin-inline-28 {
  margin-inline: 1.75rem;
}

.padding-28 {
  padding: 1.75rem;
}
.padding-block-start-28 {
  padding-block-start: 1.75rem;
}
.padding-block-end-28 {
  padding-block-end: 1.75rem;
}
.padding-block-28 {
  padding-block: 1.75rem;
}
.padding-inline-start-28 {
  padding-inline-start: 1.75rem;
}
.padding-inline-end-28 {
  padding-inline-end: 1.75rem;
}
.padding-inline-28 {
  padding-inline: 1.75rem;
}

.margin-32 {
  margin: 2rem;
}
.margin-bottom-32 {
  margin-bottom: 2rem;
}
.margin-block-start-32 {
  margin-block-start: 2rem;
}
.margin-block-end-32 {
  margin-block-end: 2rem;
}
.margin-block-32 {
  margin-block: 2rem;
}
.margin-inline-start-32 {
  margin-inline-start: 2rem;
}
.margin-inline-end-32 {
  margin-inline-end: 2rem;
}
.margin-inline-32 {
  margin-inline: 2rem;
}

.padding-32 {
  padding: 2rem;
}
.padding-block-start-32 {
  padding-block-start: 2rem;
}
.padding-block-end-32 {
  padding-block-end: 2rem;
}
.padding-block-32 {
  padding-block: 2rem;
}
.padding-inline-start-32 {
  padding-inline-start: 2rem;
}
.padding-inline-end-32 {
  padding-inline-end: 2rem;
}
.padding-inline-32 {
  padding-inline: 2rem;
}

.margin-36 {
  margin: 2.25rem;
}
.margin-bottom-36 {
  margin-bottom: 2.25rem;
}
.margin-block-start-36 {
  margin-block-start: 2.25rem;
}
.margin-block-end-36 {
  margin-block-end: 2.25rem;
}
.margin-block-36 {
  margin-block: 2.25rem;
}
.margin-inline-start-36 {
  margin-inline-start: 2.25rem;
}
.margin-inline-end-36 {
  margin-inline-end: 2.25rem;
}
.margin-inline-36 {
  margin-inline: 2.25rem;
}

.padding-36 {
  padding: 2.25rem;
}
.padding-block-start-36 {
  padding-block-start: 2.25rem;
}
.padding-block-end-36 {
  padding-block-end: 2.25rem;
}
.padding-block-36 {
  padding-block: 2.25rem;
}
.padding-inline-start-36 {
  padding-inline-start: 2.25rem;
}
.padding-inline-end-36 {
  padding-inline-end: 2.25rem;
}
.padding-inline-36 {
  padding-inline: 2.25rem;
}

.margin-40 {
  margin: 2.5rem;
}
.margin-bottom-40 {
  margin-bottom: 2.5rem;
}
.margin-block-start-40 {
  margin-block-start: 2.5rem;
}
.margin-block-end-40 {
  margin-block-end: 2.5rem;
}
.margin-block-40 {
  margin-block: 2.5rem;
}
.margin-inline-start-40 {
  margin-inline-start: 2.5rem;
}
.margin-inline-end-40 {
  margin-inline-end: 2.5rem;
}
.margin-inline-40 {
  margin-inline: 2.5rem;
}

.padding-40 {
  padding: 2.5rem;
}
.padding-block-start-40 {
  padding-block-start: 2.5rem;
}
.padding-block-end-40 {
  padding-block-end: 2.5rem;
}
.padding-block-40 {
  padding-block: 2.5rem;
}
.padding-inline-start-40 {
  padding-inline-start: 2.5rem;
}
.padding-inline-end-40 {
  padding-inline-end: 2.5rem;
}
.padding-inline-40 {
  padding-inline: 2.5rem;
}

.margin-48 {
  margin: 3rem;
}
.margin-bottom-48 {
  margin-bottom: 3rem;
}
.margin-block-start-48 {
  margin-block-start: 3rem;
}
.margin-block-end-48 {
  margin-block-end: 3rem;
}
.margin-block-48 {
  margin-block: 3rem;
}
.margin-inline-start-48 {
  margin-inline-start: 3rem;
}
.margin-inline-end-48 {
  margin-inline-end: 3rem;
}
.margin-inline-48 {
  margin-inline: 3rem;
}

.padding-48 {
  padding: 3rem;
}
.padding-block-start-48 {
  padding-block-start: 3rem;
}
.padding-block-end-48 {
  padding-block-end: 3rem;
}
.padding-block-48 {
  padding-block: 3rem;
}
.padding-inline-start-48 {
  padding-inline-start: 3rem;
}
.padding-inline-end-48 {
  padding-inline-end: 3rem;
}
.padding-inline-48 {
  padding-inline: 3rem;
}

.margin-52 {
  margin: 3.25rem;
}
.margin-bottom-52 {
  margin-bottom: 3.25rem;
}
.margin-block-start-52 {
  margin-block-start: 3.25rem;
}
.margin-block-end-52 {
  margin-block-end: 3.25rem;
}
.margin-block-52 {
  margin-block: 3.25rem;
}
.margin-inline-start-52 {
  margin-inline-start: 3.25rem;
}
.margin-inline-end-52 {
  margin-inline-end: 3.25rem;
}
.margin-inline-52 {
  margin-inline: 3.25rem;
}

.padding-52 {
  padding: 3.25rem;
}
.padding-block-start-52 {
  padding-block-start: 3.25rem;
}
.padding-block-end-52 {
  padding-block-end: 3.25rem;
}
.padding-block-52 {
  padding-block: 3.25rem;
}
.padding-inline-start-52 {
  padding-inline-start: 3.25rem;
}
.padding-inline-end-52 {
  padding-inline-end: 3.25rem;
}
.padding-inline-52 {
  padding-inline: 3.25rem;
}

.margin-80 {
  margin: 5rem;
}
.margin-bottom-80 {
  margin-bottom: 5rem;
}
.margin-block-start-80 {
  margin-block-start: 5rem;
}
.margin-block-end-80 {
  margin-block-end: 5rem;
}
.margin-block-80 {
  margin-block: 5rem;
}
.margin-inline-start-80 {
  margin-inline-start: 5rem;
}
.margin-inline-end-80 {
  margin-inline-end: 5rem;
}
.margin-inline-80 {
  margin-inline: 5rem;
}

.padding-80 {
  padding: 5rem;
}
.padding-block-start-80 {
  padding-block-start: 5rem;
}
.padding-block-end-80 {
  padding-block-end: 5rem;
}
.padding-block-80 {
  padding-block: 5rem;
}
.padding-inline-start-80 {
  padding-inline-start: 5rem;
}
.padding-inline-end-80 {
  padding-inline-end: 5rem;
}
.padding-inline-80 {
  padding-inline: 5rem;
}

.image-container {
  position: relative;
}
.image-container--corner-top-left-cut::before {
  content: "";
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  border-right: 125px solid transparent;
  border-top: 125px solid white;
}
.image-container img {
  border-radius: 2rem;
}

.content-padding-left {
  padding-left: 7.6875rem;
}

.flex-basis-50 {
  flex-basis: 50%;
}

.color-white * {
  color: white !important;
}
.color-white h2::before, .color-white h2::after {
  color: inherit !important;
  background-color: white;
}

.text-bold {
  font-weight: 700;
}

/*# sourceMappingURL=App.css.map */
