@use "../abstract" as *;

body, html {
  overflow-x: hidden;
}

body {
  font-family: $ff-inter;
  font-weight: $fw-400;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-size: fs(300);
  color: clr(neutral, normal);
  line-height: 1.5;
  overflow-x: hidden;
}

h2 {
  font-size: fs(800);
  font-weight: $fw-600;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: clr(neutral, light);
}

#pocetna,
#galerija,
#cijena {
  position: relative;
  padding-inline: $px-xxl;
  @include mq(xxl) {
    padding-inline: $px-xl;
  }
  @include mq(xl) {
    padding-inline: $px-lg;
  }
  @include mq(lg) {
    padding-inline: $px-md;
  }
  @include mq(md) {
    padding-inline: $px-sm;
  }
  @include mq(sm) {
    padding-inline: $px-xs;
  }
}

@include mq(lg) {
  h2 {
    font-size: fs(750);
  }
}