@use "../abstract" as *;

body {
  font-family: $ff-inter;
  font-weight: $fw-400;
  font-size: fs(400);
  color: clr(neutral, normal);
  line-height: 1.5;
}

h2 {
  font-size: fs(800);
  font-weight: $fw-600;
  text-transform: uppercase;
}

#pocetna,
#kako-radimo,
#o-nama,
#usluge,
#galerija,
#cijena {
  height: 100vh;
  position: relative;
  padding-inline: 10vw;
}

#kako-radimo {
  @include d-flex($ai: center)
}

#o-nama {
  @include d-flex($g: size(80), $ai: center);
  & > div {
    width: 50%;
  }
}

#usluge {
  background-color: rgba(76, 181, 169, 0.22);
}

#galerija {
  background-color: rgba(193, 171, 114, 0.22);
}

#cijena {
  background-color: rgba(234, 23, 142, 0.22);
}